mixin ItemData( dataset= ItemData )
	- function FormatPrice(value) {return value.toString().split('').reverse().join('').match(/.{1,3}/g).join(' ').split('').reverse().join('') + ' ₽'}
	.ItemData
		h1 ELF 3.5 Бортовой автомобиль
		.ItemData-frame
			.ItemData-control
				.ItemData-card
					.ItemData-price= 'от ' +FormatPrice(dataset.price)
					.ItemData-button Оформить заказ
				.ItemData-text
					p Автомобиль оборудован бортовой платформой. Позволяет перевозить в жестком кузове грузы различного назначения не требующих специальных условий перевозки. Погрузка-выгрузка грузов осуществляется через задние распашные ворота, которые имеют штанговый запор и замок. Компактный автомобиль удобен для маневрирования в плотном потоке, с возможностью проезда в центральную часть где действуют ограничение по грузоподъемности свыше 999кг.
			if dataset.img
				.ItemData-image
					img.ItemData-img(src= 'assets/img/cars/' +dataset.img)
		.ItemData-table
			table
				each item in dataset.table
					tbody
						tr
							th= item.label
						each subitem in item.set
							tr
								th= subitem.header
								each value, i in subitem.value
									if subitem.value.length == 1
										td(colspan=2)= value
									else
										td= value
		+Checkout('ELF 3.5 Бортовой автомобиль')
		+Policy({modal: true})
