.ItemData
	display: flex
	flex-direction: column
	width: 100%
	+unsetPad
	h1
		+setPad
	&-frame
		display: flex
		width: 100%
		margin-top: 4rem
		justify-content: space-between
		+onDevices
			flex-direction: column-reverse
	&-image
		width: 50%
		display: block
		height: auto
		+onDevices
			width: 100%
	&-img
		width: 100%
	&-control
		+setPad
		width: 50%
		+onDevices
			width: 100%
	&-card
		display: flex
		flex-direction: column
		max-width: 66.66%
		width: 100%
		background-color: $bg
		box-shadow: 0px 4px 4px rgba($text, 0.25)
		cursor: pointer
		+isAnimated('transform')
		+onPhone
			max-width: 100%
		&:active
			transform: translateY(2px)
	&-card:hover &-price
		+isAnimated('background-color')
		background-color: $hover
	&-card:hover &-button
		+isAnimated('color')
		color: $hover
	&-price, &-button
		text-align: center
	&-price
		+asH2(false)
		color: $bg
		background-color: $link
		padding: 1rem 0
	&-button
		+asButtonText
		color: $link
		padding: .5rem 1rem
	&-table
		+setPad
		+onDevices
			width: 100%
			overflow: auto
		table
			width: 100%
			border-spacing: 0 1.5rem
			border-collapse: separate
		tbody
			width: 100%
		tbody tr:first-child
			pointer-events: none
			&>th
				+asH3(false)
				text-align: left
				box-shadow: none
				padding-top: 3rem
				white-space: nowrap
		th, td
			+asText()
			padding-top: 1rem
			transition: box-shadow .3s ease
			box-shadow: inset 0 -3px 0 -2px $grid
			cursor: pointer
		tr:hover
			th, td
				box-shadow: inset 0 -4px 0 -2px rgba($text, .5)
		th
			padding-right: 2rem
			text-align: left
			white-space: nowrap
		td
			text-align: right
			padding-left: 2rem
