.Catalogue
	display: flex
	flex-wrap: wrap
	flex-direction: column
	position: relative
	+unsetPad
	&-control
		+setPad
		width: 100%
		height: 100%
		position: relative
	&-select
		margin-top: 5rem
		display: flex
		position: relative
		max-width: 34.7rem
		width: 100%
		cursor: pointer
	&-left
		background-color: rgba($text, .1)
		width: 50%
		+onPhone
			display: none
	&-right
		background-color: $link
		color: $bg
		width: 50%
		display: flex
		+isAnimated('background-color')
		+onPhone
			width: 100%
		&:hover
			background-color: $hover
	&-modal
		position: absolute
		display: flex
		top: 0
		right: 0
		width: 50%
		z-index: 2
		opacity: 1
		+isAnimated('opacity')
		+onPhone
			width: 100%
		&.isHidden
			opacity: 0
			pointer-events: none
	&-frame
		display: flex
		flex-direction: column
		background-color: $text
		width: 100%
		color: $bg
	&-label
		+asButtonText
		width: 100%
		padding: 1rem
	&-block
		&:hover
			background-color: $link
	&-icon
		+asIcon(big)
		font-size: 24px
		line-height: 2rem
		height: 100%
	&-title
		+setPad
	&-content
		position:relative
		height: 100%
		width: 100%
	&-header
		+setPad
		width: 100%
	&-weight
		+asH2()
		display: flex
		pointer-events: none
		padding: .5rem 1rem
	&-window
		display: flex
		flex-wrap: wrap
		max-height: 0px
		overflow: hidden
		&.isVisible
			max-height: 100%
	&-item
		width: 33.33%
		+setPad
		margin-top: 5rem
		+onTablet
			width: 50%
		+onPhone
			width: 100%
