mixin Catalogue(dataset= Cars)
	.Catalogue
		.Catalogue-title
			h1 Модельный ряд автомобилей ISUZU
		.Catalogue-control
			.Catalogue-select
				.Catalogue-left
					.Catalogue-label Грузоподъемность
				.Catalogue-right
					.Catalogue-label.Capacity Все
					i.Catalogue-icon.fa.fa-angle-down
					.Catalogue-modal.isHidden
						.Catalogue-frame
							each item in dataset
								if item.cont
									.Catalogue-block
										.Catalogue-label.Label(data-capacity = item.capacity)= item.capacity + ' кг'
		.Catalogue-content
			each item, i in dataset
				.Catalogue-window(class= item.cont ? "isVisible" : "" data-i = item.capacity)
					.Catalogue-header
						.Catalogue-weight= item.capacity+ ' кг'
					each subitem in item.cont
						.Catalogue-item
							+Card(subitem)
