.Input
	display: flex
	flex-direction: column
	&-label
		+asLabel
		padding-left: .5rem
		margin-top: 3rem
	&-input
		+asText
		box-shadow: 0 0 2px rgba($text, .4), inset 0 4px 0 rgba($text, .2)
		margin-top: .5rem
		padding: .5rem
		&.Successful
			box-shadow: 0 0 0 1px $hover
		&.Error
			box-shadow: 0 0 0 1px $link
