.Button
	display: inline-block
	margin-top: 2rem
	cursor: pointer
	background-color: $link
	+isAnimated('background-color, color, transform')
	&:hover
		background-color: $hover
	&:active
		transform: translateY(2px)
	&.isDisabled
		background-color: $grid
		pointer-events: none
	&-label
		+asButtonText()
		color: $bg
		padding: .5rem 2.4rem
		white-space: nowrap
