mixin Form()
	form.Form
		+Input({placeholder: 'Алексей', label: 'Имя'})
		+Input({placeholder: 'Кукушкин', label: 'Фамилия'})
		+Input({placeholder: 'Сергеевич', label: 'Отчество'})
		+Input({type: 'tel', placeholder: '+71234567890', label: 'Телефон'})
		+Input({type: 'email', placeholder: 'example@mail.com', label:
		'E-mail'})
		+Input({placeholder: 'Липецк', label: 'Город'})
		.Checkout-policy
			+Policy({modal: false})
		+Button({label: 'Отправить'})
