mixin Modals()
	.Modals.isHidden#Checkout
		+Modal()
			h2 Оформить заказ
			+Input({placeholder: 'model', label: 'Модель'})
			+Input({placeholder: 'Алексей', label: 'Имя'})
			+Input({placeholder: 'Кукушкин', label: 'Фамилия'})
			+Input({placeholder: 'Сергеевич', label: 'Отчество'})
			+Input({placeholder: 'Липецк', label: 'Город'})
			.Checkout-policy Заполняя эту форму, вы даете согласие на
				.Checkout-policyLink обработку персональных данных
			+Button({label: 'Отправить'})
	.Modals.isHidden#Policy
		+Modal()
