mixin Stock(head, dataset= Stock)
	.Stock
		if head
			a(href="stock.html").Stock-title Акции
		.Stock-frame
			each item in dataset
				.Stock-item
					a(href= item.link).Stock-card
						.Stock-image(style='background-image: url(assets/img/' + item.img + ')')
							.Stock-background
						if item.label
							.Stock-label= item.label
