.Stock
	display: initial
	+unsetPad
	&-title
		+setPad
		+asH2(false)
		display: block
		color: $text
		margin-top: 10rem
		+onDevices
			margin-top: 5rem
	&-frame
		display: flex
		flex-wrap: wrap
	&-item
		+setPad
		width: 25%
		margin-top: 5rem
		+onDevices
			width: 50%
			margin-top: 3rem
	&-card
		position: relative
		display: block
		&:hover
			.Stock-label
				+isAnimated('color')
				color: $hover
	&-image
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		box-shadow: 0 0 0 1px rgba($text, 0.02), 0px 5px 20px rgba(0, 0, 0, 0.25)
	&-background
		padding-bottom: 136%
	&-label
		position: absolute
		top: 0rem
		left: 0rem
		right: 0rem
		bottom: 0rem
		padding: 4rem 2rem
		+asLabel
		color: $bg
		display: flex
		align-items: flex-end
		background-image: linear-gradient(180deg, rgba($text, 0) 0%, rgba($text, 0.75) 100%)
