mixin Static()
	.Static
		.Static-control
			.Static-date 12.03.2019
			.Static-head
				h1 Статическая страница
		.Static-content
			+Article
			.Static-text
				p Грузовики ISUZU известны во всём мире и пользуются заслуженной популярностью.
				p Главное их достоинство – долговечность, надежность и выносливость в сочетании с доступностью и простотой в эксплуатации. Кроме того высокая производительность и отличная топливная экономичность, компания Isuzu – пионер новых технологий в области производства дизельных двигателей. Все это делает автомобили ISUZU востребованными во всех регионах России.
				p Главное их достоинство – долговечность, надежность и выносливость в сочетании с доступностью и простотой в эксплуатации. Кроме того высокая производительность и отличная топливная экономичность, компания Isuzu – пионер новых технологий в области производства дизельных двигателей. Все это делает автомобили ISUZU востребованными во всех регионах России.
				p Главное их достоинство – долговечность, надежность и выносливость в сочетании с доступностью и простотой в эксплуатации. Кроме того высокая производительность и отличная топливная экономичность, компания Isuzu – пионер новых технологий в области производства дизельных двигателей. Все это делает автомобили ISUZU востребованными во всех регионах России.
				p Главное их достоинство – долговечность, надежность и выносливость в сочетании с доступностью и простотой в эксплуатации. Кроме того высокая производительность и отличная топливная экономичность, компания Isuzu – пионер новых технологий в области производства дизельных двигателей. Все это делает автомобили ISUZU востребованными во всех регионах России.
			.Static-image
				img(src="assets/img/static-img.png").Static-img
