.Static
	display: flex
	flex-direction: column
	+unsetPad
	&-control
		+setPad
		display: flex
		align-items: flex-start
		margin-top: 7rem
		flex-direction: column
	&-date
		+asParagraph(false)
		color: $link
	&-head h1
		margin: 0
	&-content
		+setPad
		display: flex
	&-image
		+setPad
		margin-top: 3rem
		width: 50%
		position: relative
		overflow: hidden
		padding-bottom: 50%
		height: 0
		align-items: center
		justify-content: center
	&-img
		position: absolute
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		width: 100%
	&-text
		width: 50%
		padding-bottom: 3rem
		// outline: solid 1px
