.Article
	&-content
		display: flex
		flex-direction: column
		&>*:not(img)
			width: 100%
			max-width: 100rem
		img
			margin-top: 5rem
			width: 100%
			height: auto
			box-shadow: 0 0 20px rgba($text, .8)
