mixin Card(dataset)
	- function FormatPrice(value) {return value.toString().split('').reverse().join('').match(/.{1,3}/g).join(' ').split('').reverse().join('') + ' ₽'}
	.Card
		.Card-wrapper
			.Card-frame
				a(href= dataset.href).Card-image
					+Image(dataset.image)
			.Card-card
				a(href= dataset.href).Card-title= dataset.title
				.Card-button
					.Card-price= FormatPrice(dataset.price)
