.Card
	display: flex
	width: 100%
	height: 100%
	flex-direction: column
	position: relative
	background-color: $bg
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13)
	cursor: pointer
	&:hover
		.Card-title
			color: $hover
	&-wrapper
		width: 100%
	&-frame
		padding: 1rem
		display: block
		box-shadow: 0px 4px 0px $link, 0 0 1px rgba(0, 0, 0, 0.05)
	&-image
		display: block
		overflow: hidden
		padding: 1rem
		width: 100%
		height: 0
		padding-bottom: 64%
		position: relative
	&-title
		display: block
		color: $text
		padding: 2rem 2rem 1rem 2rem
		margin-bottom: 4.5rem
		font-weight: 700
		font-size: 2.3rem
		line-height: 3rem
	&-button
		position: absolute
		bottom: 1rem
		right: -1rem
		cursor: pointer
	&-price
		+asButton
		color: $bg
		margin: 0
		background-color: $link
		border-radius: 0
