.Checkout
	display: flex
	&-model
		display: flex
		flex-direction: column
		span
			+asLabel
			padding-left: .5rem
			margin-top: 3rem
		label
			+asText
			margin: .5rem 0 0 0
			padding: .5rem
			box-shadow: 0 0 2px rgba($text, .4)

