extends /Base/Base.pug

block append head
	title Isuzu
	meta(name="description" content="")

block content
	section
		h1 О компании
		h3 В России бренд официально представлен с 2006 года.
		p На протяжении более 10 лет команда ISUZU в России стремится приложить максимум усилий, чтобы предложить не только качественный продукт, но и своевременно и оперативно отвечать на запросы клиентов в сфере обслуживания, взаимодействия и сотрудничества.
		p Самым главным нашим активом являются люди – исполнительные сотрудники, надежные партнеры и поставщики. Все те, кто своим отношением к делу ежедневно помогают компании идти намеченным курсом, строить далеко идущие планы и занимать ведущие позиции в отрасли. Сегодня мы добились отличных результатов, но не планируем на этом останавливаться. Мы будем и дальше работать и развиваться.
		h3 Контактный телефон
		p: a(href="tel:+7(4742) 565-565") +7 (4742) 565-565
		h3 Адрес
		+Map
