extends /Base/Base.pug

block append head
	title Isuzu
	meta(name="description" content="")

block content
	+Intro()
	section
		p ООО «Исузу» – официальный поставщик на территории  Дипецкой области японских грузовых автомобилей ISUZU и оригинальных запчастей к ним. Компания предлагает на белорусском рынке грузовую автотехнику старейшего японского автомобильного бренда, который во всем мире ассоциируется с высочайшим качеством и надежностью.
		p Компания предлагает весь модельный ряд грузовых автомобилей ISUZU серии ELF, Forward, GIGA. Помимо шасси, также имеются автомобили с различными надстройками: ISUZU фургоны всех видов, ISUZU бортовые и тентованные, ISUZU - эвакуаторы, ISUZU краны-манипуляторы, ISUZU - самосвалы, ISUZU зероновозы и другие коммерческие грузовики.
	section
		+Stock(true)
	section
		+News(true)
