extends /Base/Base.pug

block append head
	title Isuzu
	meta(name="description" content="")

block content
	section
		h1 Сервисные контракты
		h2 Что такое сервисные контракты?
		p Договор заключенный между Исузу Рус и конечным Клиентом регламентирующий оказание сервисных услуг в соответствии с выбранным сервисным пакетом на определенный период времени с заранее рассчитанной ценой.
		h2 Две концепции Контрактного сервиса
		h3 Федеральный СК
		p Клиент может обслуживаться у любого официального Дилера Исузу Рус
		p Дуйствует единое ценообразование
		h3 Региональный СК
		p Клиент првязан к одному выбранному Дилеру
		p Индивидуальное ценообразование Сервисного контракта
		+Process
