.Modal
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	+isAnimated('opacity')
	opacity: 1
	z-index: 3
	background-color: $bg
	overflow: hidden
	&.isHidden
		pointer-events: none
		opacity: 0
	+hider
		background-color: rgba($bg, .8)
	&-frame
		display: flex
		flex-direction: column
		width: 100vw
		height: 100%
		overflow-x: hidden
		overflow-y: auto
		position: relative
	&-window
		+setLimiter
		position: relative
		z-index: 1
		margin: auto
		width: auto
		color: $text
		max-width: 100rem
		padding: 0
		padding-top: 2rem
		+onPhone
			max-width: 100%
	&-content
		+setPad
		+isAnimated('transform')
		max-width: 100%
		display: flex
		flex-direction: column
		overflow: hidden
		padding-bottom: 9rem
	&-control
		width: 0rem
		paddint-right: 0
		margin-left: auto
	&-close
		+asIconInline
		+asIcon(big)
		width: 4rem
		height: 4rem
		color: $link
		transform: scale(.67)
		position: fixed
		z-index: 1
		// display: flex
		justify-content: center
		align-items: center
		cursor: pointer
		margin-left: -4rem
		margin-top: -1rem
		+isAnimated('color, transform')
		&::before
			content: '\f00d'
		&:hover
			color: $hover
			transform: scale(1)
		&:active
			transform: translateY(2px)
