include /Base/BaseIncludes.pug

doctype html
html(lang="ru")
	head
		block head
			include /Head/Head.pug
			include /Global/HeadIncludes.pug
	body
		+Header()
		.content
			block content
				div content
		+Footer
