include /Header/Header.pug
include /Footer/Footer.pug

include /Intro/Intro.pug
include /CardNews/CardNews.pug
include /Stock/Stock.pug
include /Card/Card.pug
include /Modal/Modal.pug
include /Button/Button.pug
include /Image/Image.pug
include /Catalogue/Catalogue.pug
include /Input/Input.pug
include /Form/Form.pug
include /Checkout/Checkout.pug
include /Policy/Policy.pug
include /ItemData/ItemData.pug
include /Modals/Modals.pug
include /Map/Map.pug
include /ContactCard/ContactCard.pug
include /Contacts/Contacts.pug
include /Career/Career.pug
include /Vacancy/Vacancy.pug
include /Process/Process.pug
include /Article/Article.pug
include /BreadCrumbs/BreadCrumbs.pug
include /ItemNews/ItemNews.pug
include /News/News.pug
include /Static/Static.pug
