.Header
	+unsetPad
	position: fixed
	top: 0
	left: 0
	right: 0
	width: 100%
	z-index: 3
	background-color: $link
	&-wrapper
		+setLimiter
		display: flex
	&-frame
		+setPad
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		position: relative
	&-logo
		padding: 2rem 0
	&-logotype
		background-image: url(assets/img/logo.png)
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		margin-left: -5px
		margin-right: -5px
		width: 18.6rem
		height: 3rem
	&-menu
		display: flex
		+onDesktop
			padding-left: 0
			padding-right: 0
		+onDevices
			display: flex
			flex-direction: column
			position: fixed
			height: 100%
			width: 100vw
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			align-items: flex-end
			flex: auto
			padding: 1rem
			background-color: $link
			z-index: 3
			+isAnimated('opacity')
			&.isHidden
				opacity: 0
				pointer-events: none
				overflow: hidden
	&-show
		+setPad
		flex-shrink: 0
		position: relative
		display: flex
		align-items: center
		height: 100%
		+onDesktop
			display: none
	&-buttonShow
		background-image: url(assets/img/button-bars.png)
		width: 4rem
		height: 4rem
		background-size: cover
		background-position: center
		display: none
		position: absolute
		cursor: pointer
		right: 0
		+onDevices
			display: block
	&-close
		padding-top: .5rem
		padding-bottom: 1rem
		padding-left: 0
		padding-right: 0
		+onDesktop
			padding-left: 0
			padding-right: 0
		+onDesktop
			display: none
	&-buttonClose
		background-image: url(assets/img/button-close-white.png)
		width: 4rem
		height: 4rem
		align-items: flex-end
		background-repeat: no-repeat
		background-size: contain
		background-position: center
		// border-radius: 100%
		// background-color: rgba(white, .2)
		&:hover
			cursor: pointer
	&-itemSet
		display: flex
		margin-right: -1rem
		+onDesktop
			padding-left: 0
			padding-right: 0
		+onDevices
			display: flex
			flex-direction: column
			flex: auto
			text-align: left
			overflow-y: auto
			width: 100%
	&-item
		padding-left: 1rem
		padding-right: 1rem
		+onDevices
			color: $bg
			font-size: 1.8rem
			font-weight: 200
			margin: 1rem 1rem
	&-subitem
		+asLabel
		display: flex
		flex: auto
		color: $bg
		white-space: nowrap
		padding-top: 1rem
		padding-bottom: 1rem
		+onDevices
			box-shadow: -1px 0  0 $bg
			padding: .5rem 1rem
			margin: .5rem 0
			&:hover
				box-shadow: -1px 0  0 $hover
	+hider()
.Header-space
	height: 7rem
