mixin Header(dataset= Header)
	header.Header
		.Header-wrapper
			.Header-frame
				a(href="/").Header-logo
					.Header-logotype
				.Header-show
					.Header-buttonShow
				.Header-menu.isHidden
					.Header-close
						.Header-buttonClose
					.Header-itemSet
						each item in dataset
							.Header-item
								a(href= item.link).Header-subitem= item.label
	.Header-space
