mixin ItemNews(dataset= {})
	.ItemNews
		.ItemNews-image(style='background-image: url(assets/img/'+dataset.img+')')
		.ItemNews-content
			.ItemNews-label= dataset.label
			.ItemNews-date= dataset.date
