.ItemNews
	background-color: rgba(red, .3)
	display: flex
	flex-direction: column
	width: 100%
	flex: auto
	cursor: pointer
	height: 100%
	box-shadow: 0 0 0 1px rgba($text, 0.02), 0px 5px 20px rgba(0, 0, 0, 0.25)
	&:hover
		.ItemNews-label
			color: $hover
	&-image
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		overflow: hidden
		width: 100%
		padding-bottom: 100%
		box-shadow: 0 4px 0 0 $link
		z-index: 1
	&-content
		width: 100%
		padding: 1rem
		background-image: linear-gradient(108deg, $text 25.15%, #383838 100%)
		box-shadow: inset 0 .5rem 1rem ($text, 0.13)
		color: $bg
		display: flex
		flex: auto
		flex-direction: column
	&-label
		+asH3(false)
		padding: 2rem
		+isAnimated('color')
		flex: auto
		&:hover
			color: $hover
	&-date
		+asLabel
		opacity: .5
		padding: 1rem 2rem
