.Intro
	display: flex
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.39)), url(assets/img/header_img.png)
	background-size: cover
	background-position: center
	width: 100vw
	position: relative
	min-height: 43vw
	&-headline
		+setLimiter
		margin-top: auto
		margin-bottom: 6rem
	&-text
		+setPad
		color: $bg
