.Footer
	+unsetPad
	display: flex
	flex-direction: column
	background-color: $text
	box-shadow: inset 0 5px 0 $link
	margin-top: 10rem
	&-content
		padding: 2rem 0
		+setLimiter
		position: relative
	&-logotype
		background-image: url(assets/img/logo.png)
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		margin: 1rem 0
		width: 18.6rem
		height: 3rem
	&-wrapper
		+setPad
		width: 100%
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&-frame
		display: flex
		flex-wrap: wrap
		margin: 0 -1rem
	&-control
		display: flex
		flex-wrap: wrap
		flex-direction: column
		max-width: 92%
		+onPhone
			width: 100%
	&-item
		padding: 1rem
		margin-top: 1rem
	&-label
		+asLabel
		color: $bg
		white-space: nowrap
	&-social
		display: flex
		align-items: flex-end
		+onDesktop
			flex-direction: column
		+onTablet
			flex-direction: column
		+onPhone
			margin-top: 3rem
	&-icon
		+asIcon(big)
		color: $link
		margin-top: 1rem
		cursor: pointer
		+asLink
	&-copyright
		+setPad
		margin-top: 4rem
		padding-top: 1rem
		paddign-bottom: 1rem
		color: $dim
		+asText(false)

