mixin Footer(dataset= Footer)
	footer.Footer
		.Footer-content
			.Footer-wrapper
				.Footer-control
					a(href="/").Footer-logo
						.Footer-logotype
					.Footer-frame
						each item in dataset
							.Footer-item
								a(href= item.link).Footer-label= item.label
				.Footer-social
					.Footer-icon
						i.fab.fa-facebook-square
					.Footer-icon
						i.fab.fa-youtube
					.Footer-icon
						i.fab.fa-instagram
			.Footer-copyright © «ISUZU» 2019 г.- Производитель, официальный дистрибьютор автомобилей марки ISUZU
	include /Global/FooterIncludes.pug
