.Policy
	display: block
	margin-top: 2rem
	&-text
		opacity: .8
	&-button
		+asLink
form .Policy
	margin-top: 3rem
	.Policy-button
		+asLink()

footer .Policy
	.Policy-button
		+asLink

.Offer .Policy
	.Policy-button
		color: inherit
