.ContactCard
	display: flex
	width: 100%
	&-img
		width: 33.33%
		position: relative
	&-content
		width: 100%
		padding: 1rem
	&-name
		+asParagraph(false)
	&-position
		margin-top: .5rem
	&-phone, &-email
		display: block
		margin-top: 1rem
		cursor: pointer
		+isAnimated('color')
		a
			color: $text
			&:hover
				color: $hover
