mixin ContactCard(dataset = {})
	.ContactCard
		.ContactCard-img
			+Image(dataset.img)
		.ContactCard-content
			.ContactCard-name= dataset.name
			.ContactCard-position= dataset.position
			.ContactCard-phone
				a(href="tel:"+ dataset.tel)= dataset.tel
			.ContactCard-email
				a(href="mailto:"+ dataset.email)= dataset.email
