.Vacancy
	+setPad
	display: flex
	flex-direction: column
	&-title
		+asH3
	&-label
		+asButtonText
		margin-top: 2rem
		margin-bottom: 1rem
	&-ul
		margin: 0
		padding-left: 1.5rem
	&-item
		padding-top: .5rem
		padding-bottom: .5rem
