mixin Vacancy(dataset= Vacancy)
	.Vacancy
		h2 Открытые вакансии
		.Vacancy-frame
			.Vacancy-title= dataset.title
			each item in dataset.info
				.Vacancy-label= item.label
				ul.Vacancy-ul
					each list in item.list
						li.Vacancy-item= list.text
