.News
	display: flex
	flex-direction: column
	+unsetPad
	width: 100%
	&-title
		+setPad
		+asH2(false)
		color: $text
		margin-top: 10rem
	&-content
		width: 100%
		display: flex
		flex-wrap: wrap
	&-item
		+setPad
		width: 25%
		margin-top: 6rem
		+onTablet
			width: 50%
		+onPhone
			width: 100%
