.Map
	display: flex
	flex-direction: column
	&-label
		+asParagraph
		margin-top: 5rem
	&-card
		display: flex
		width: 100%
		height: 60rem
		margin-top: 3rem
		padding: 1rem
		box-shadow: 0 0 30px rgba($text, .3)
