mixin Map()
	.Map
		.Map-label Липецк, Правобережный округ, Цементный завод, Римского Корсакова, 10а
		.Map-card#Map
			script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
			script.
				ymaps.ready(init)
				function init() {
					var myMap = new ymaps.Map("Map", {
							center: [52.642631, 39.636006],
							zoom: 18
						});
						myMap.behaviors.disable('scrollZoom')
						myMap.geoObjects.add(new ymaps.Placemark([52.642631, 39.636006], {
							iconCaption: 'Isuzu center'
						}, {
							preset: 'islands#redDotIconWithCaption'
						}))
					}
