.Contacts
	display: flex
	flex-direction: column
	+unsetPad
	&-title
		+setPad
	&-content
		display: flex
		flex-wrap: wrap
		width: 100%
	&-item
		+setPad
		display: flex
		width: 33.33%
		margin-top: 2rem
		+onTablet
			width: 50%
		+onPhone
			width: 100%
