.CardNews
	+unsetPad()
	&-title
		+setPad
		display: block
		color: $text
	&-frame
		display: flex
		flex-wrap: wrap
	&-item
		width: 33.33%
		margin-top: 5rem
		+setPad
		+onTablet
			width: 50%
			margin-top: 3rem
		+onPhone
			width: 100%
			margin-top: 3rem
	&-item:first-child
		width: 66.66%
		.CardNews-image
			grid-area: 1/2/span 2/span 3
			box-shadow: -4px 0 0 0 $link
		.CardNews-content
			grid-area: 1/1/span 2/span 1
			display: flex
			justify-content: space-between
		+onTablet
			width: 100%
		+onPhone
			width: 100%
			.CardNews-image
				grid-area: 1/span 2/span 1/span 2
				overflow: hidden
				box-shadow: 0 4px 0 $link
			.CardNews-content
				grid-area: 2/1/2/span 2
				display: flex
				flex-direction: column
	&-title
		+asH2(false)
		margin-top: 10rem
		+onDevices
			margin-top: 5rem
	&-card
		display: grid
		grid-template-columns: 2fr 3fr
		grid-template-rows: 3fr 2fr
		height: 100%
		&:hover
			.CardNews-label
				color: $hover
				+isAnimated('color')
	&-image
		grid-area: 1/1/1/span 2
		overflow: hidden
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		box-shadow: 0 4px 0 $link
		z-index: 1
	&-content
		grid-area: 2/1/span 2/span 2
		display: flex
		flex-direction: column
		background-image: linear-gradient(108.37deg, #000000 25.15%, #383838 100%);
		box-shadow: inset 0 .5rem 1rem ($text, 0.13)
	&-label
		+asH3(false)
		padding: 3rem
		color: $bg
	&-date
		+asLabel
		color: $bg
		opacity: .5
		padding: 2rem 3rem
