mixin CardNews(count, dataset= CardNews)
	.CardNews
		.CardNews-wrapper
			a(href="news.html").CardNews-title Новости
		.CardNews-frame
			each item, i in dataset
				if i < count
					.CardNews-item
						a(href= item.link).CardNews-card
							.CardNews-image(style='background-image: url(assets/img/' +item.img+ ')')
							.CardNews-content
								.CardNews-label= item.label
								.CardNews-date= item.date
