// Reset

*
	box-sizing: border-box
	-webkit-overflow-scrolling: touch
*:active
	-webkit-tap-highlight-color: transparent
p, h1, h2, h3, h4, h5
	margin: 0
	padding: 0
body
	margin: 0
	padding: 0
	min-height: 100vh
	max-width: 100vw
	overflow-x: hidden
	display: flex
	flex-flow: column nowrap
input, select, textarea, fieldset, button
	padding: 0
	margin: 0
	border: none
	border-width: 0
	outline: none
	border-radius: 0
	appearance: none
	background: none
	&::-ms-expand
		display: none
	&:focus
		outline: none
input[type~=number]
	-moz-appearance: textfield
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
		-webkit-appearance: none
		margin: 0


// Colors
$text: #000000
$bg: #ffffff
$link: #e31729
$hover: #2917e3
$dim: rgba(255, 255, 255, 0.7)
$grid: rgba(0, 0, 0, .2)

// Constants
$radius: 3rem


// Sizing
$pad: 2.5vw
$maxPhone: 640px
$maxTablet: 960px
$maxDesktop: 1440px

=onPhone
	@media screen and (max-width: $maxPhone)
		@content

=onTablet
	@media screen and (min-width: $maxPhone + 1px) and (max-width: $maxTablet)
		@content

=onDesktop
	@media screen and (min-width: $maxTablet + 1px)
		@content

=onOversize
	@media screen and (min-width: $maxDesktop + 1px)
		@content

=onDevices
	@media screen and (max-width: $maxTablet)
		@content


// Text
$font: "IBM Plex Sans", sans-serif

html
	transition: font-size 100ms linear
	font-size: 10px
	+onTablet
		font-size: 10px
	+onPhone
		font-size: 10px
	-webkit-text-size-adjust: none


=asLabel
	font-weight: 500
	font-size: 1.5rem
	line-height: 2rem


=asText($setMargin: true)
	font-weight: 400
	font-size: 1.5rem
	line-height: 2rem
	@if $setMargin
		margin-top: 2rem

=asButtonText
	+asText(false)
	font-weight: 600

=asH3($setMargin: true)
	font-weight: 700
	font-size: 2.3rem
	line-height: 3rem
	@if $setMargin
		margin-top: 3rem
		+onPhone
			margin-top: 3rem
	+onPhone
		font-weight: 700
		font-size: 1.5rem
		line-height: 2rem

=asH2($setMargin: true)
	font-weight: 700
	font-size: 3.8rem
	line-height: 5rem
	@if $setMargin
		margin-top: 5rem
		+onPhone
			margin-top: 3rem
	+onPhone
		font-size: 2.3rem
		line-height: 3rem

=asH1($setMargin: true)
	font-weight: 700
	font-size: 5.4rem
	line-height: 7rem
	@if $setMargin
		margin-top: 7rem
		+onPhone
			margin-top: 5rem
	+onTablet
		font-size: 3.8rem
		line-height: 5rem
	+onPhone
		font-size: 3.8rem
		line-height: 5rem

=asParagraph($setMargin: true)
	font-weight: 400
	font-size: 2.3rem
	line-height: 3rem
	@if $setMargin == true
		margin-top: 3rem
	+onPhone
		font-size: 1.5rem
		line-height: 2rem
body
	font-family: $font
	&>*
		+asText(false)

=asIcon($size: big)
	display: flex
	align-items: center
	justify-content: center
	@if $size == big
		font-size: 32px
		min-width: 4rem
	@if $size == small
		font-size: 16px
		min-width: 2rem

=asIconInline()
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	display: inline-block
	font-style: normal
	font-variant: normal
	text-rendering: auto
	line-height: inherit
	font-family: 'Font Awesome 5 Free'
	font-weight: 900
	font-size: 16px


h3, .h3
	+asH3

h2, .h2
	+asH2

h1, .h1
	+asH1

p
	+asParagraph
	max-width: 50em

a
	text-decoration: none



// Grid mixins

=setPad()
	padding-left: 2.5vw
	padding-right: 2.5vw
	+onPhone
		padding-left: 8px
		padding-right: 8px
	+onOversize
		padding-left: 36px
		padding-right: 36px

=unsetPad()
	+onDesktop
		padding-left: 0
		padding-right: 0
	+onTablet
		padding-left: 0
		padding-right: 0
	+onPhone
		padding-left: 0
		padding-right: 0

=setLimiter()
	+setPad
	max-width: $maxDesktop
	width: 100%
	margin-left: auto
	margin-right: auto


=hider()
	&_hider
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 1
		&.isHidden
			pointer-events: none
			opacity: 0
		@content

// Grid markup

section
	+setLimiter
	display: flex
	flex-direction: column
	+setPad
	&>*
		+setPad


body
	display: flex
	flex-direction: column
	min-height: 100vh
	.content
		flex: auto

body.isRestrictScroll
	overflow: hidden


// Style

=isAnimated($property: 'all', $tempo: base)
	transition-property: unquote($property)
	transition-timing-function: ease
	@if $tempo == fast
		transition-duration: 222ms
	@else if $tempo == slow
		transition-duration: 999ms
	@else
		transition-duration: 333ms

=asLink
	text-decoration: none
	cursor: pointer
	color: $link
	+isAnimated('color, transform')
	&:hover
		color: $hover

a
	+asLink

=asButton()
	display: flex
	padding: .5rem 1rem
	+asButtonText
	border-radius: $radius
	background-color: $link
	color: $bg
	+isAnimated('background-color, color, transform')
	&:hover
		background-color: $hover
	&:active
		transform: translateY(2px)
	white-space: nowrap


=asList
	display: table
	list-style-type: none
	margin: 0
	margin-bottom: -2rem
	border-spacing: 0 2rem
	padding-left: 0
	li
		display: table-row
		&::before
			+asIconInline
			display: table-cell
			width: 2rem
			text-align: center
			padding-right: 1rem

ul
	// +asList
	// li::before
	// 	content: '\f00c'
ol
	+asList
	counter-reset: item
	li
		&::before
			+asParagraph
			margin: 0
			content: counters(item, ".") "."
			counter-increment: item
			padding-right: .5em
